@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "0-6岁宝贝在家就可以上的亲子早教课程";
}


<!--Main Slider-->
<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/Content/images/main-slider/image-2.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','700','450']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-120','-90','-90','-90']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text grey">Loveable space that needs your face threes company</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['800','800','700','450']"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-10','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="dark">Takes a big heart to shape <br> a little mind</h2>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','700','450']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['110','105','110','95']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <a href="contact.html" class="theme-btn btn-style-one">Contact us</a>
                    </div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/Content/images/main-slider/image-1.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','700','450']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-110','-90','-80','-75']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text text-center">Loveable space that needs your face threes company</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['800','800','600','450']"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['10','0','0','0']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="text-center">Today is the Day to learn <br> something New</h2>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','600','450']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['140','105','90','95']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text-center">
                            <a href="#" class="theme-btn btn-style-one">Enroll Now</a>&ensp;&ensp;<a href="#" class="theme-btn btn-style-two">Read More</a>
                        </div>
                    </div>

                </li>

            </ul>

        </div>
    </div>
</section>
<!--End Main Slider-->
<!--Classes Section-->
<section class="classes-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>推荐亲子课程视频</h2>
            <div class="separater"></div>
            <div class="text">That is the way we all be came the Brady Bunch these to days are all Happy and Free these days you wanna be not fry in the artist kitchen and beans.</div>
        </div>
        <div class="row clearfix">
            <!--Class Block-->
            <div class="class-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="class-single.html"><img src="/Content/images/resource/classes-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h3><a href="class-single.html">宝宝早期情商培养</a></h3>
                                <div class="time">宝宝早期情商培养非常重要</div>
                            </div>
                            <div class="pull-right">
                                <div class="price">免费</div>
                            </div>
                        </div>
                        <ul>
                            <li>1 - 4<span>岁</span></li>
                            <li>20 - 30 <span>class size</span></li>
                            <li>Nov 27 <span>Schedule</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Class Block-->
            <div class="class-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="class-single.html"><img src="/Content/images/resource/classes-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h3><a href="class-single.html">Learning Class</a></h3>
                                <div class="time">Class Time : 08:00 am - 10:00 am</div>
                            </div>
                            <div class="pull-right">
                                <div class="price">$50<span>/hr</span></div>
                            </div>
                        </div>
                        <ul>
                            <li>3 - 5<span>years old</span></li>
                            <li>20 - 30 <span>class size</span></li>
                            <li>Nov 27 <span>Schedule</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Class Block-->
            <div class="class-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="class-single.html"><img src="/Content/images/resource/classes-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h3><a href="class-single.html">Creativity Class</a></h3>
                                <div class="time">Class Time : 08:00 am - 10:00 am</div>
                            </div>
                            <div class="pull-right">
                                <div class="price">$60<span>/hr</span></div>
                            </div>
                        </div>
                        <ul>
                            <li>3 - 5<span>years old</span></li>
                            <li>20 - 30 <span>class size</span></li>
                            <li>Nov 27 <span>Schedule</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <a href="classes.html" class="theme-btn btn-style-two">More Classes</a>
        </div>
    </div>
</section>
<!--End Classes Section-->
<!--Counter Section-->
<section class="counter-section" style="background-image:url(/Content/images/background/2.jpg);">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <h2>Fun Facts</h2>
            <div class="separater"></div>
        </div>

        <div class="fact-counter">

            <div class="row clearfix">

                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="column-outer">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="4000" data-stop="850">0</span><span class="plus-icon">+</span>
                            </div>
                            <h4 class="counter-title">Total Students</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column text-center counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="column-outer">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="20">0</span>
                            </div>
                            <h4 class="counter-title">Class Rooms</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column text-center counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="column-outer">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2500" data-stop="35">0</span>
                            </div>
                            <h4 class="counter-title">Total Teachers</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column text-right counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="column-outer">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="150">0</span><span class="plus-icon">+</span>
                            </div>
                            <h4 class="counter-title">Fun Activities</h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!--End Counter Section-->
<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Our Gallery</h2>
            <div class="separater"></div>
            <div class="text">That is the way we all be came the Brady Bunch these to days are all Happy and Free these </div>
        </div>
        <div class="row clearfix">
            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/1.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/1.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/2.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/2.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/3.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/3.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/4.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/4.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/5.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/5.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/6.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/6.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/7.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/7.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block mix all col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/Content/images/gallery/8.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="images/gallery/8.jpg" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon fa fa-search"></span></a>
                                    <h3><a href="gallery.html">Fun Gaming</a></h3>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Gallery Section-->
<!--Activities Section-->
<section class="activities-section" style="background-image:url(/Content/images/background/pattern-2.png);">
    <div class="auto-container">

        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Our Activities</h2>
            <div class="separater"></div>
            <div class="text">That is the way we all be came the Brady Bunch these to days are all Happy and Free these </div>
        </div>
        <div class="row clearfix">
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-1.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Well Coaching</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-2.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Training Programs</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-3.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Creativity Classes</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-4.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Encouraging</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-5.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Fun Gaming</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/icon-6.png" alt="" /></span>
                    </div>
                    <h3><a href="services.html">Best Tutors</a></h3>
                    <div class="text">That is the way we all be came english Brady Bunch these to days artists bean needs your face.</div>
                </div>
            </div>

        </div>
        <!--Btns Box-->
        <div class="btns-box text-center">
            <a href="#" class="theme-btn btn-style-one">Enroll Now</a>
            <a href="contact.html" class="theme-btn btn-style-two">Contact Us</a>
        </div>

    </div>
</section>
<!--End Activities Section-->

<!--Client Section Two-->
<section class="client-section-two">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <h2>Trusted Partners</h2>
            <div class="separater"></div>
            <div class="text">That is the way we all be came the Brady Bunch these to days are all Happy and Free these </div>
        </div>

        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel-two owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/1.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/2.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/3.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/4.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/5.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/images/clients/3.jpg" alt=""></a></figure></li>
            </ul>
        </div>

    </div>
</section>
<!--End Client Section Two-->
<!--Events Section-->
<section class="events-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>Latest Events</h2>
            <div class="separater"></div>
        </div>
        <div class="single-item-carousel owl-carousel owl-theme">

            <div class="slide">
                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-1.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">20<span>nov</span></div>
                                    <h3><a href="events.html">Today still wanted by the government </a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-2.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">06<span>dec</span></div>
                                    <h3><a href="events.html">Soon will be making another run</a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-1.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">20<span>nov</span></div>
                                    <h3><a href="events.html">Today still wanted by the government </a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-2.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">06<span>dec</span></div>
                                    <h3><a href="events.html">Soon will be making another run</a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-1.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">20<span>nov</span></div>
                                    <h3><a href="events.html">Today still wanted by the government </a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Event Block-->
                <div class="event-block">
                    <div class="inner-box clearfix">
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="/Content/images/resource/event-2.jpg" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="content">
                                    <div class="post-date">06<span>dec</span></div>
                                    <h3><a href="events.html">Soon will be making another run</a></h3>
                                    <ul class="post-info">
                                        <li><span class="icon fa fa-clock-o"></span> 8.30am - 12.30pm</li>
                                        <li><span class="icon fa fa-map-marker"></span>Log Vegas, USA</li>
                                    </ul>
                                    <div class="text">Way we all be came english Brady Bunch these to days artists bean needs your face on up to the east side to a deluxe pulled apartment in the sky William Buck Rogers are blown out of their trajectory into an orbit which freezes.</div>
                                    <a href="events.html" class="view-detail">View Details <span class="icon fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Events Section-->
<!--Call To Action Two-->
<section class="call-to-action-two style-two" style="background-image:url(/Content/images/background/4.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title Column-->
            <div class="title-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="icon-box">
                        <span class="icon"><img src="/Content/images/resource/hand-icon.png" alt="" /></span>
                    </div>
                    <h2>入驻我们成为合作早教机构</h2>
                    <div class="text">您或您的机构将可以拥有专属早教频道</div>
                </div>
            </div>
            <!--Btn Column-->
            <div class="btn-column col-md-4 col-sm-12 col-xs-12">
                <a href="#" class="theme-btn btn-style-two">申请入驻</a>
            </div>
        </div>
    </div>
</section>
<!--End Call To Action Two-->
